* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to top right, rgb(231, 105, 66), rgb(44, 0, 202));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 100px; */
}

.container {
  background-color: #fff;
  padding: 10px;
  width: 500px;
  height: 700px;
  border-radius: 10px;
  opacity: 0.8;
}

div.container div.header-container {
  border: 1px solid rgb(98, 77, 173);
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-radius: 25px;
  width: 100%;
  padding: 1rem;
}

div.container div.header-container div.circle {
  background-color: rgb(98, 77, 173);
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container div.header-container h2 {
  font-size: 50px;
}

div.container div.header-container h2 span {
  color: rgb(98, 77, 173);
}

div.container div.header-container div.circle p {
  color: #fff;
}

/* Input styles  */

div.container div.input-btn {
  display: flex;
  margin: 1rem;
  gap: 1rem;
}

div.container div.input-btn input.ifield {
  width: 80%;
  padding: 10px;
  font-size: 20px;
  border-radius: 40px;
  border: 1px solid rgb(98, 77, 173);
  outline-color: rgb(197, 98, 68);
}

div.input-btn button img {
  height: 20px;
  width: 20px;
  /* background-color:; */
}

div.input-btn button {
  /* background-color: rgb(204, 96, 24); */
  background: linear-gradient(to top right, rgb(231, 105, 66), rgb(44, 0, 202));
  width: 3.5rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: fill 2s ease;
}

/* div.input-btn button:hover{
  background-color:  rgb(168, 57, 20);
  
} */

/* List Items added */

div.todos-container div.todo-item-container {
  display: flex;
  /* border: 1px solid black; */
  border-bottom: 3px solid rgb(199, 144, 127);
  padding: 10px 10px 0 10px;
  /* gap: 20rem; */
  /* margin: 5px; */
  margin: 10px 20px 0 20px;
}

div.todos-container div.todo-item-container #todo-text {
  width: 100%;
  user-select: none;
}

.line-through {
  /* text-decoration: line-through; */
  color: rgb(197, 49, 49);
}

div.todos-container div.todo-item-container div.btn-container {
  display: flex;
  gap: 18px;
  padding: 5px;
  border: 1px solid rgb(98, 77, 173);
  border-radius: 5px;
  /* width: 7rem; */
  justify-content: center;
}

div.todos-container div.todo-item-container div.btn-container button img {
  cursor: pointer;
}

div .todo-item-container button img {
  height: 20px;
  width: 20px;
}
