* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to top right, rgb(231, 105, 66), rgb(44, 0, 202));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
}

div.input-btn button img {
  height: 20px;
  width: 20px;
}

div .todo-item-container button img {
  height: 20px;
  width: 20px;
}
